body,html{
  height:100%;
  width:100%;
  margin:0;
}
#container{
  text-align: center;
  background: #dee0e2;
  width:75%;
  padding-bottom:1.5em;
  margin:0 auto;
  margin-top:2em;
  margin-bottom:2em;
  border-radius: 3px 3px 3px 3px;

}
#hp:checked{
  background:#e83535;
}
#mp:checked{
 background:#efbb0e;
}
#lp:checked{
  background:#61c41f;
}
#submit{
  margin-top:1.5em;

}
#paragraph-adjust{
  margin-left:1em;
}
#left-spacing{
  margin-right:2em;
}
label{
  margin-top:1em;
  margin-bottom:1em;
}
.testing{
  margin-left:1em;
}
